<h1>Here you go !!</h1>

<div class="tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">新着</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">人気</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">xxx</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <ol class="topics">
        <%= render 'topics/list' , topics: @topics %>
      </ol>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <ol class="topics">
        <%= render 'topics/ranking' , topics: @topics_rank %>
      </ol>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">Cだよ</div>
  </div>
</div>


