<% content_for :title do %>
  比喩ジャックマン
<% end %>
<% content_for :description do %>
  比喩で世界をジャックしよう！
<% end %>


<h1>Here you go !!</h1>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="HiyuJackman" data-size="large" data-hashtags="比喩ジャックマン">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-share-button" data-href="<%= request.url %>" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">シェア</a></div>


<div class="tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">新着</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">人気</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">xxx</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <ol class="topics">
        <%= render 'topics/list' , topics: @topics %>
      </ol>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <ol class="topics">
        <%= render 'topics/ranking' , topics: @topics_rank %>
      </ol>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
       <ol class="topics">
        <%= render 'topics/ranking' , topics: @topics_rank %>
      </ol>
    </div>
  </div>
</div>


