<% topics.each do |topic| %>
<li> 
    <span class="title"><%= topic.title %></span>
    <span class="user">
        Created by <%= link_to topic.user.name, topic.user %></span>
    <span class="timestamp">
        Created <%= time_ago_in_words(topic.created_at) %> ago.
        <%= link_to "detail", topic_path(topic) %>
    </span>
</li>
<% end %>