
<div class="container">
    <div class="row">
        <div class="about-content">
            『最大・細心の注意を払え。ニトロ…ミサイルの信管…そして、ヒステリカルな彼女とベッドをともにするときのようにだ！』
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            ｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘｘ
            
        </div>
    </div>
    <div class="row">
        <div class="about-footer">
            比喩ジャックマン管理人 Kensuke
        </div>    
    </div>
</div>
