<h1>比喩ジャックマンとは</h1>

<div class="container">
    <div class="row">
        <div class="about-content col-md-10 col-md-offset-1">
            <center>
            <p>比喩で世界を席巻しよう！</p>
            <P>
            八百屋にサンマは注文しねぇよ<br />
            毒にも栄養にもならぬ駄菓子のごとき助言！<br />
            腐ったミカンの方程式<br />
            ドブネズミみたいに美しくなりたい<br /></p>
            <p>
            こんな素敵な比喩をキメて、笑って競って世界をおもしろく変えましょう。
            </p>
            </center>
            <p class="about-footer">比喩ジャックマン管理人 Kensuke</p>
        </div>
    </div>
</div>
