<h1>比喩ジャックマンとは</h1>

<div class="container">
    <div class="row">
        <div class="about-content col-md-10 col-md-offset-1">
            比喩で世界をジャックしよう！
            
            お笑い界ではくりぃむ上田晋也にフット後藤輝基、
            マンガ界からバキの板垣恵介とジョジョの荒木飛呂彦、
            脚本家 宮藤官九郎に小説家 伊坂幸太郎、
            腐ったミカンの武田鉄矢、味のIT革命児 彦摩呂、
            LUST FOR ROCK'N'ROLL 甲本ヒロト
            
            比喩は、思いやりとユーモア
            
        </div>
    </div>
    <div class="row">
        <div class="about-footer col-md-10 col-md-offset-1">
            比喩ジャックマン管理人 Kensuke
        </div>    
    </div>
</div>
